body
{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}


nav{
    background-color: #151d2b;
    color: white;
    font-style: italic;
}
nav div{
    max-width: 90%;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav img{
    width: 150px;
}
nav ul{
    list-style-type: none;
    display: flex;
}
nav ul li{
    margin-right: 2rem;
    font-size: 20px;
}


footer{
    background-color: #151d2b;
    color: white;
    font-style: italic;
}
.footer{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}
#footer-img{
    display: flex;
    align-items: center;
}
#footer-img a{
    margin-right: 0.5rem;
}
#facebook-logo{
    width: 40px;
}
#insta-logo{
    width: 30px;
}
#youtube-logo{
    width: 40px;
}


.jumbotron{
    background-image: linear-gradient(180deg,#fc6c6c,#ff914f);
    min-height:200px;
    color:#ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    font-weight: 100 !important;
    font-style: normal;

}
#jumbotron-main{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}
#jumbotron-main h1{
    padding: 30px;
}
#jumbotron-image img{
    margin: 50px;
    max-width:400px ;
    border-radius: 60px;
    box-shadow: 10px 20px 100px #202124;

	transition: .3s ease-in-out;
}
#jumbotron-image:hover img{
   
	transform: scale(1.1);
}


.container-1{
    background-image: linear-gradient(200deg,#e5edfe,#335);
    box-shadow: 0 20px 30Spx #202124;
}
.container-1 h2{
    margin: 0;
    padding: 3rem;
    text-align: center;
    font-size: 390%;
    color: white;
}


.card-container{
    max-width: 70%;
    margin: 0 auto;
    padding-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    row-gap: 3rem;
}
.card{
    filter: blur(0.35px);
    max-width: 90%;
    height: auto;
    box-shadow:  0 10px 8px #333;
    background-image: linear-gradient(200deg,#b9dbfe,#f1e8ec);
    border-radius: 20px;
    transition: 0.3s;
    text-align: center;
}
.card:hover{
    filter: blur(0px);
	transform: scale(1.08);
}
.card img{

    margin-top: 1rem;
    border-radius: 50px;
    max-width: 90%;
    max-height: 200px;
    box-shadow:  0 5px 10px #333;
}
.card h4{
    font-family: sans-serif;
    font-style: italic;
    font-weight: 700;
    text-align: center;
    font-size: 130%;
}
.card-desc{
    margin: 0 auto;
    width: fit-content;
}
.card p{
    font-family: sans-serif;
    font-weight: 600;
    color: #4b6a04;
}
