body
{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}


nav{
    background-color: #151d2b;
    color: white;
    font-style: italic;
}
nav div{
    max-width: 90%;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav img{
    width: 150px;
}
nav ul{
    list-style-type: none;
    display: flex;
}
nav ul li{
    margin-right: 2rem;
    font-size: 20px;
}


footer{
    background-color: #151d2b;
    color: white;
    font-style: italic;
}
.footer{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}
#footer-img{
    display: flex;
    align-items: center;
}
#footer-img a{
    margin-right: 0.5rem;
}
#facebook-logo{
    width: 40px;
}
#insta-logo{
    width: 30px;
}
#youtube-logo{
    width: 40px;
}


.jumbotron{
    background-image: linear-gradient(220deg,#a2763d,#101820FF);
    min-height:400px;
    color:#ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    font-weight: 100 !important;
    font-style: normal;
}
#jumbotron-main{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}
#jumbotron-main h1{
    padding: 30px;
}
#jumbotron-image img{
    margin: 50px;
    max-width:400px ;
    border-radius: 60px;
    box-shadow: 10px 20px 100px #202124;

	transition: .3s ease-in-out;
}
#jumbotron-image:hover img{
   
	transform: scale(1.1);
}


.container-0a{
    background-color:#0f0905de ;
    color: #cdbc96;
    text-align: center;
}
.container-0a h1{
    width: fit-content;
    margin: 0 auto;
    padding: 1rem;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:400;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    text-shadow: 3px 4px  rgba(0,0,0,0.5);
}


.container-1{
    background-color:#0f0905de ;
    background-size: cover;
    max-height: fit-content;
}
.container-1 h2{
    margin: 0;
    padding: 3rem;
    text-align: center;
    font-size: 390%;
    color: white;    
}


.card-container{
    max-width: 70%;
    margin: 0 auto;
    padding-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    row-gap: 3rem;
    column-gap: 1.5rem;
}
.card{
    max-width: 100%;
    height: auto;
    box-shadow:  0 1rem 2rem rgba(0,0,0,0.5);
    background: linear-gradient( to bottom right,rgba(255,255,255,0.2),rgba(255,255,255,0.05));
    backdrop-filter: blur(3rem);
    border-radius: 20px;
    transition: 0.3s;
    text-align: center;
}
.card:hover{
	transform: scale(1.08);
}
.card img{

    margin-top: 1rem;
    border-radius: 25%;
    max-width: 90%;
    max-height: 200px;
    box-shadow:  0 5px 10px #333;
}
.card h4{
    font-family: sans-serif;
    font-style: italic;
    font-weight: 700;
    text-align: center;
    font-size: 120%;
    color: #d6d6d6e8;
}
.card-desc{
    margin: 0 auto;
    width: 85%;
}
.card p{
    font-family: sans-serif;
    font-weight: 600;
    color: #000000e5;
}
.card h5{
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: 600;
    font-style: italic;
    color: #7aaa0b;
}


@media screen and (max-width: 800px) {
    body{
        min-width: fit-content;
    }
}