html{
    background-image: url('Assets/Pictures_assets/steik-miaso-ovoshchi-ogon-gril.jpg');
    background-size: cover;
}
body
{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}


nav{
    box-shadow:  0 1rem 2rem rgba(0,0,0,0.5);
    background: linear-gradient( to bottom right,rgba(255,255,255,0.2),rgba(255,255,255,0.05));
    backdrop-filter: blur(3rem);
    font-style: italic;
}
nav div{
    max-width: 90%;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav img{
    padding-top: 40%;
    padding-bottom: 50%;
    width: 30px;
}


footer{
    min-width: 100%;
    position:fixed;
    left:0;
    bottom:0;

    background-color: #151d2b;
    color: white;
    font-style: italic;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}
#footer-img{
    display: flex;
    align-items: center;
}
#footer-img a{
    margin-right: 0.5rem;
}
#facebook-logo{
    width: 40px;
}
#insta-logo{
    width: 30px;
}
#youtube-logo{
    width: 40px;
}


@media screen and (max-height:1080px) {
    html{
        min-height: 100%;
        background-position: top;
        background-repeat: no-repeat;
    }
}
@media screen and (max-width:300px) {
    html{
        display: none;
    }
}